{% extends "base.html" %}
{% block title %}500 Internal Server Error{% endblock %}
{% block content %}
<div class="jumbotron" id="banner" style="padding-bottom: 0;">
    <div class="container">
      <h1 class="ml11">
          <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters" style="color: #007bff; font-family: Neucha;">URL Shortner</span>
          </span>
      </h1>
      <p>Shorten your long URLs with a single mouse click!</p>
      <ul class="nav nav-tabs" style="border: 0;">
        <li role="presentation" style="color: #007bff; padding: 10px 8px;"><a href="/">Home</a></li>
        <li role="presentation" style="color: #007bff; padding: 10px 8px;"><a href="/analytics">Analytics</a></li>
        <li role="presentation" style="color: #007bff; padding: 10px 8px;"><a href="#">API</a></li>
      </ul>
    </div>
</div>
<div class="container">
    <h1 style="font-size: 200px;">
        <bold>
          <p align="center">500!</p>
        </bold>
    </h1>
    <div class="line-height" style="font-size: 20px; line-height: 0.5em;">
        <p align="center"><span style="font-weight: 700;">Server Error:</span> The server encountered an internal</p>
        <p align="center">error and was unable to complete the request.</p>
      </div>
    </div>
</div>
{% endblock %}